@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

/*https://colorhunt.co/palette/f4f4f4f0a500cf7500000000 color palette*/

:root {
    --primary-color: #F0A500;
    --secondary-color: #CF7500;
    --tertiary-color: #000000;
    --quaternary-color: #F4F4F4;
    --quinary-color: #181200;
    --dark-green: #9cc675;
    --dark-yellow: #e89a3d;
    --extra-light-brown:#fdf0d7;
    --light-brown: #ecd5ab;
    --dark-brown:#915b40;
    --light-yellow:#f8e3a8;
    --light-red:#f3ac99;
    --light-teal:#a6c8cc;
    --light-gray:#ddd5d6;
    --theme-color2: #e89a3d;
}

body {
    background-color: #F4F4F4;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
}


header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.bg-light {
    background-color: transparent !important;
}

.bg-dark {
    background-color: black !important;
    color: #FAD13B !important;
}

.navbar-brand {
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
}

.nav-item {
    font-weight: 700;
    text-transform: uppercase;
    color: white !important;
}

.nav-item .nav-link:hover {
    background-color: black;
    color: white !important;
    font-size: 1.2em;
    transition: all 0.5s ease;
}

.navbar-nav li {
    padding: 0 1rem;
    color: white !important;
}

.bg-dark .nav-link {
    color: #FAD13B !important;
}

#navbarSupportedContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.active {
    background-color: black;
    color: white !important;
}

.hero {
    position: relative;
    background: url(../public/heroSection.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    color: var(--quaternary-color);
    padding: 0 1rem;
    min-height: 100vh;
}

.hero h1 {
    font-size: 70px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    z-index: 100;
    text-shadow: 0 0 5px black;
}

.hero h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    z-index: 100;
    text-shadow: 0 0 5px black;
}

.hero p {
    padding: 0;
    margin: 1em 0 0 0;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    z-index: 100;
    text-shadow: 0 0 5px black;
}

.btn1 {
    display: inline-block;
    margin: 1em 0 0 0;
    background-color: var(--primary-color);
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    transition: all 0.5s ease;
    z-index: 99999;
}

.btn1:hover {
    background-color: black;
    color: var(--primary-color);
    border: 2px solid black;
    text-decoration: none;
}

.arrow-down {
    width: 30px;
    height: 20px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;

}

.arrow-down:hover {
    -webkit-animation-play-state: paused;
}

.left {
    position: absolute;
    height: 5px;
    width: 20px;
    background: white;
    -webkit-transform: rotate(240deg);
    top: -15px;
    left: 8px;
    -webkit-border-radius: 4px;
    -webkit-transform-origin: 5px 50%;
    -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right {
    position: absolute;
    height: 5px;
    width: 20px;
    background: white;
    -webkit-transform: rotate(-60deg);
    top: -15px;
    left: 11px;
    -webkit-border-radius: 4px;
    -webkit-transform-origin: 5px 50%;
    -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
}


@-webkit-keyframes arrow {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: 40px;
    }
}


@-webkit-keyframes leftArrow {
    0% {
    }
    100% {
        -webkit-transform: rotate(225deg);
    }
}

@-webkit-keyframes rightArrow {
    0% {
    }
    100% {
        -webkit-transform: rotate(-45deg);
    }
}

.about-us {
    margin-top: 5rem;
    background-color: #F4F4F4;
    padding: 10vh 1rem 2rem;
    text-align: center;
}

.about-us h1 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.about-us p {
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 2;
    margin: 2rem 0 1rem;
}

section#counter-stats {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.stats {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.stats .fa {
    color: #F0A500;
    font-size: 60px;
}


.impact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding-top: 10vh;
}

.impact h1 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.impact p {
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 2;
    margin: 2rem 0 1rem;
}


.gallery {
    display: flex;
    padding: 2px;
    transition: 0.3s;
}

.gallery:hover .gallery__image {
    filter: grayscale(1);
}

.gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.gallery__link {
    margin: 2px;
    overflow: hidden;
}

.gallery__link:hover .gallery__image {
    filter: grayscale(0);
}

.gallery__link:hover .gallery__caption {
    opacity: 1;
}

.gallery__thumb {
    position: relative;
}

.gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
}

.gallery__image:hover {
    transform: scale(1.1);
}

.gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}



.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    width: 78px;
    height: 78px;
    margin: 50px auto 0;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    position: relative;
    animation: animate 2.53s ease-in infinite alternate;
}
.loader:before,
.loader:after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid var(--primary-color);
    transform: translateX(-50%)translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    animation: animate_1 5.06s ease infinite alternate;
}
.loader:after{
    background: var(--primary-color);
    width: 19px;
    height: 19px;
    border: none;
    transform: translate(0);
    top: 0;
    right: 13px;
    animation: animate_2 2.53s ease-in infinite alternate;
}
@keyframes animate{
    0%{
        width: 78px;
        height: 78px;
        transform: rotate(0deg);
    }
    100%{
        width: 10px;
        height: 10px;
        margin-top: 29px;
        transform: rotate(1080deg);
    }
}
@keyframes animate_1{
    0%, 50%, 100%{
        width: 10px;
        height: 10px;
        opacity: 0;
    }
    51%{ opacity: 1; }
    70%{
        width: 97px;
        height: 97px;
        opacity: 0;
    }
}
@keyframes animate_2{
    0%{
        height: 19px;
        width: 19px;
    }
    100%{
        height: 3px;
        width: 3px;
        right: 0;
    }
}



.slider {
    height: 50vh;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 10vh 10vh;
}
.slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slider__contents img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
}
.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.slider__contents {
    height: 100%;
    padding: 2rem;
    padding-top: 0;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.slider__image {
    font-size: 2.7rem;
    color: #2196F3;
}
.slider__caption {
    font-weight: 500;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
.slider__txt {
    color: #999;
    margin-bottom: 3rem;
    max-width: 300px;
}

@-webkit-keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

@keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}


@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);
footer body {
    font-family: Rubik, sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;

}
footer ul {
    padding: 0;
    margin: 0;
}
footer li {
    list-style: none;
}
footer a:focus, footer a:hover {
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    text-decoration: none;
}
footer a:focus {
    outline: 0;
    text-decoration: none;
}
footer img {
    max-width: 100%;
}
footer p {
    font-size: 16px;
    line-height: 30px;
    color: #898b96;
    font-weight: 300;
}
footer h4 {
    font-family: Rubik, sans-serif;
    margin: 0;
    font-weight: 400;
    padding: 0;
    color: #363940;
}
footer a {
    color: var(--primary-color);
    text-decoration: none;
}
footer .no-padding {
    padding: 0 !important;
}
footer .go_top {
    line-height: 40px;
    cursor: pointer;
    width: 40px;
    background: var(--primary-color);
    font-size: 20px;
    font-weight: 800;
    color: var(--quinary-color);
    position: fixed;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    right: -webkit-calc((100% - 1140px)/ 2);
    right: calc((100% - 1140px)/ 2);
    z-index: 111;
    bottom: 80px;
    text-align: center;
}
footer .go_top span {
    display: inline-block;
}
footer .footer-big {
    padding: 105px 0 65px 0;
    background-color: #192027;
}
footer .footer-big .footer-widget {
    margin-bottom: 40px;
}
footer .footer--light {
    background: #e7e8ed;
}
footer .footer-big .footer-menu ul li a, footer .footer-big p, footer .footer-big ul li {
    color: #fff;
}
footer .footer-menu {
    padding-left: 48px;
}
footer .footer-menu ul li a {
    font-size: 15px;
    line-height: 32px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
footer .footer-menu ul li a:hover {
    color: var(--primary-color);
}
footer .footer-menu--1 {
    width: 100%;
}
footer .footer-widget-title {
    line-height: 42px;
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--primary-color);
}
footer .mini-footer {
    background: #192027;
    text-align: center;
    padding: 32px 0;
}
footer .mini-footer p {
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #999;
}
footer .mini-footer p a {
    color: var(--primary-color);
}
footer .mini-footer p a:hover {
    color: #34bfa3;
}
footer .widget-about img {
    display: block;
    margin-bottom: 30px;
}
footer .widget-about p {
    font-weight: 400;
}
footer .widget-about .contact-details {
    margin: 30px 0 0 0;
}
footer .widget-about .contact-details li {
    margin-bottom: 10px;
}
footer .widget-about .contact-details li:last-child {
    margin-bottom: 0;
}
footer .widget-about .contact-details li span {
    padding-right: 12px;
}
footer .widget-about .contact-details li a {
    color: var(--primary-color);
}
@media (max-width: 991px) {
    footer .footer-menu {
        padding-left: 0;
    }
}

.go_top span {
    font-size: 20px;
}
