@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

/*https://colorhunt.co/palette/f4f4f4f0a500cf7500000000 color palette*/

:root {
    --primary-color: #ffc33a;
    --secondary-color: #CF7500;
    --tertiary-color: #000000;
    --quaternary-color: #F4F4F4;
    --quinary-color: #181200;
    --dark-green: #9cc675;
    --dark-yellow: #e89a3d;
    --extra-light-brown:#fdf0d7;
    --light-brown: #ecd5ab;
    --dark-brown:#915b40;
    --light-yellow:#f8e3a8;
    --light-red:#f3ac99;
    --light-teal:#a6c8cc;
    --light-gray:#ddd5d6;
    --theme-color2: #e89a3d;
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
    --gradient-primary: linear-gradient(90deg, #F0A500 0%, #CF7500 100%);
}

body {
    background-color: #F4F4F4;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
}


header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.bg-light {
    background-color: transparent !important;
}

.bg-dark {
    background-color: black !important;
    color: #FAD13B !important;
}

.navbar-brand {
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
}

.nav-item {
    font-weight: 700;
    text-transform: uppercase;
    color: white !important;
}

.nav-item .nav-link:hover {
    background-color: black;
    color: white !important;
    font-size: 1.2em;
    transition: all 0.5s ease;
}

.navbar-nav li {
    padding: 0 1rem;
    color: white !important;
}

.bg-dark .nav-link {
    color: #FAD13B !important;
}

#navbarSupportedContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.active {
    background-color: black;
    color: white !important;
}

.hero {
    position: relative;
    background: url(../public/HeroSection.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    color: var(--quaternary-color);
    padding: 0 1rem;
    min-height: 100vh;
}

.hero h1 {
    font-size: 70px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    z-index: 100;
    text-shadow: 0 0 5px black;
    color: var(--primary-color);
}

.hero h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    z-index: 100;
    text-shadow: 0 0 5px black;
}

.hero p {
    padding: 0;
    margin: 1em 0 0 0;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    z-index: 100;
    text-shadow: 0 0 5px black;
}

.btn1 {
    display: inline-block;
    margin: 1em 0 0 0;
    background-color: var(--primary-color);
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    transition: all 0.5s ease;
    z-index: 99999;
}

.btn1:hover {
    background-color: black;
    color: var(--primary-color);
    border: 2px solid black;
    text-decoration: none;
}

.arrow-down {
    width: 30px;
    height: 20px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;

}

.arrow-down:hover {
    -webkit-animation-play-state: paused;
}

.left {
    position: absolute;
    height: 5px;
    width: 20px;
    background: var(--primary-color);
    -webkit-transform: rotate(240deg);
    top: -15px;
    left: 8px;
    -webkit-border-radius: 4px;
    -webkit-transform-origin: 5px 50%;
    -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right {
    position: absolute;
    height: 5px;
    width: 20px;
    background: var(--primary-color);
    -webkit-transform: rotate(-60deg);
    top: -15px;
    left: 11px;
    -webkit-border-radius: 4px;
    -webkit-transform-origin: 5px 50%;
    -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
}


@-webkit-keyframes arrow {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: 40px;
    }
}


@-webkit-keyframes leftArrow {
    0% {
    }
    100% {
        -webkit-transform: rotate(225deg);
    }
}

@-webkit-keyframes rightArrow {
    0% {
    }
    100% {
        -webkit-transform: rotate(-45deg);
    }
}

.about-us {
    margin-top: 5rem;
    background-color: #F4F4F4;
    padding: 10vh 1rem 2rem;
    text-align: center;
}

.about-us h1 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    color: #F0A500;
}

.about-us p {
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 2;
    margin: 2rem 0 1rem;
}

section#counter-stats {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.counting-number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center !important;
    margin: 0 1rem;
}

.stats {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.stats .fa {
    color: #F0A500;
    font-size: 60px;
}


.impact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding-top: 10vh;
}

.impact h1 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    color: #F0A500;
}

.impact p {
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 2;
    margin: 2rem 0 1rem;
}


.gallery {
    display: flex;
    padding: 2px;
    transition: 0.3s;
}

.gallery:hover .gallery__image {
    filter: grayscale(1);
}

.gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.gallery__link {
    margin: 2px;
    overflow: hidden;
}

.gallery__link:hover .gallery__image {
    filter: grayscale(0);
}

.gallery__link:hover .gallery__caption {
    opacity: 1;
}

.gallery__thumb {
    position: relative;
}

.gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
}

.gallery__image:hover {
    transform: scale(1.1);
}

.gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}



.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    width: 78px;
    height: 78px;
    margin: 50px auto 0;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    position: relative;
    animation: animate 2.53s ease-in infinite alternate;
}
.loader:before,
.loader:after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid var(--primary-color);
    transform: translateX(-50%)translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    animation: animate_1 5.06s ease infinite alternate;
}
.loader:after{
    background: var(--primary-color);
    width: 19px;
    height: 19px;
    border: none;
    transform: translate(0);
    top: 0;
    right: 13px;
    animation: animate_2 2.53s ease-in infinite alternate;
}
@keyframes animate{
    0%{
        width: 78px;
        height: 78px;
        transform: rotate(0deg);
    }
    100%{
        width: 10px;
        height: 10px;
        margin-top: 29px;
        transform: rotate(1080deg);
    }
}
@keyframes animate_1{
    0%, 50%, 100%{
        width: 10px;
        height: 10px;
        opacity: 0;
    }
    51%{ opacity: 1; }
    70%{
        width: 97px;
        height: 97px;
        opacity: 0;
    }
}
@keyframes animate_2{
    0%{
        height: 19px;
        width: 19px;
    }
    100%{
        height: 3px;
        width: 3px;
        right: 0;
    }
}

.movement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.wrapper {

    width: 100%;
    max-width: 100vw;
    min-height: 25em;
    display: flex;
}
.testimonial-container {
    width: 85%;
    height: 100%;
    position: relative;
    margin: auto;

}
.wrapper button {
    display: none;
    font-size: 1.8em;
    height: 2.2em;
    width: 2.2em;
    background-color: #ffffff;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    color: #0a69ed;
    box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
    cursor: pointer;
    border-radius: 50%;
}
button#next {
    right: -1.1em;
}
button#prev {
    left: -1.1em;
}
.testimonial-container p {
    color: var(--quinary-color);
    text-align: center;
    font-size: 1.5em;
    line-height: 2em;
    letter-spacing: 0.05em;
}
.testimonial-container img {
    display: block;
    margin: 1.8em auto 1.25em auto;
    border-radius: 50%;
    width: 8em;
}
.testimonial-container h3 {
    color: var(--primary-color);
    font-size: 1.3em;
    text-align: center;
}
.testimonial-container h6 {
    color: #bcc4da;
    font-size: 1.2em;
    letter-spacing: 0.03em;
    font-weight: 400;
    text-align: center;
}
@media screen and (max-width: 650px) {
    .wrapper {
        font-size: 14px;
    }
}

footer body {
    font-family: Rubik, sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;

}
footer ul {
    padding: 0;
    margin: 0;
}
footer li {
    list-style: none;
}
footer a:focus, footer a:hover {
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    text-decoration: none;
}
footer a:focus {
    outline: 0;
    text-decoration: none;
}
footer img {
    max-width: 100%;
}
footer p {
    font-size: 16px;
    line-height: 30px;
    color: #898b96;
    font-weight: 300;
}
footer h4 {
    font-family: Rubik, sans-serif;
    margin: 0;
    font-weight: 400;
    padding: 0;
    color: #363940;
}
footer a {
    color: var(--primary-color);
    text-decoration: none;
}
footer .no-padding {
    padding: 0 !important;
}
footer .go_top {
    line-height: 40px;
    cursor: pointer;
    width: 40px;
    background: var(--primary-color);
    font-size: 20px;
    font-weight: 800;
    color: var(--quinary-color);
    position: fixed;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    right: -webkit-calc((100% - 1140px)/ 2);
    right: calc((100% - 1140px)/ 2);
    z-index: 111;
    bottom: 80px;
    text-align: center;
}
footer .go_top span {
    display: inline-block;
}
footer .footer-big {
    padding: 105px 0 65px 0;
    background-color: #192027;
}
footer .footer-big .footer-widget {
    margin-bottom: 40px;
}
footer .footer--light {
    background: #e7e8ed;
}
footer .footer-big .footer-menu ul li a, footer .footer-big p, footer .footer-big ul li {
    color: #fff;
}
footer .footer-menu {
    padding-left: 48px;
}
footer .footer-menu ul li a {
    font-size: 15px;
    line-height: 32px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
footer .footer-menu ul li a:hover {
    color: var(--primary-color);
}
footer .footer-menu--1 {
    width: 100%;
}
footer .footer-widget-title {
    line-height: 42px;
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--primary-color);
}
footer .mini-footer {
    background: #192027;
    text-align: center;
    padding: 32px 0;
}
footer .mini-footer p {
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #999;
}
footer .mini-footer p a {
    color: var(--primary-color);
}
footer .mini-footer p a:hover {
    color: #34bfa3;
}
footer .widget-about img {
    display: block;
    margin-bottom: 30px;
}
footer .widget-about p {
    font-weight: 400;
}
footer .widget-about .contact-details {
    margin: 30px 0 0 0;
}
footer .widget-about .contact-details li {
    margin-bottom: 10px;
}
footer .widget-about .contact-details li:last-child {
    margin-bottom: 0;
}
footer .widget-about .contact-details li span {
    padding-right: 12px;
}
footer .widget-about .contact-details li a {
    color: var(--primary-color);
}
@media (max-width: 991px) {
    footer .footer-menu {
        padding-left: 0;
    }
}

.go_top span {
    font-size: 20px;
}














.our-essence .hero-section{
    align-items: flex-start;
    background-image: var(--gradient-primary);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.our-essence h1 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    color: #F0A500 !important;
}

.our-essence p {
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 2;
    margin: 2rem 0 1rem;
}

.our-essence .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

@media(min-width: 540px){
    .our-essence .card-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px){
    .our-essence .card-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

.our-essence .card{
    background-color: transparent;
    border: none;
    list-style: none;
    position: relative;
}

.our-essence .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.our-essence .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    trsnsform: scale(1) translateZ(0);
    transition:
            filter 200ms linear,
            transform 200ms linear;
}

.our-essence .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
}

.our-essence .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(10px);
}

.our-essence .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.our-essence .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.our-essence .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

.our-essence {
    margin-top: 100px;
}

.our-essence h1 {
    font-size: 2.5rem;
    color: var(--quinary-color);
    margin-bottom: var(--spacing-l);
    text-align: center;
}

.our-essence p {
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 2;
    margin: 2rem auto !important;
}








.join-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 945px;
    height: 474px;
}


.subscribe__title {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    color: #F0A500;
}

.subscribe__copy {
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 2;
}

.form {
    margin-bottom: 25px;
}

.form__email {
    padding: 20px 25px;
    border-radius: 5px;
    border: 1px solid #CAD3DB;
    width: 431px;
    font-size: 18px;
    color: #0F121F;
}

.form__email:focus {
    outline: 1px solid var(--primary-color);
}

.form__button {
    background:  var(--primary-color);
    padding: 10px;
    border: none;
    width: 244px;
    height: 65px;
    border-radius: 5px;
    font-size: 18px;
    color: black;

}

.form__button:hover {
    box-shadow: 0 10px 20px var(--primary-color);
}

.notice {
    width: 345px;
}


.modal-body {
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 1.5;
}

.modal-body h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    color: #F0A500;
}

.modal-body h2 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #F0A500;
}

.modal-body p {
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 1.5;
    color: #0F121F;
}





/*!*if the browser is mobile then start*/
@media screen and (max-width: 768px) {
    .loader-wrapper {
        display: none;
    }

    #use-desktop {
        /*show this div on mobile with 100vw and 100vh nothing else*/
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        color: var(--primary-color);
        background-color: black;
        z-index: 999;

    }

    .use-desktop h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .use-desktop svg {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        color: var(--primary-color);
    }
}
