@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

/*https://colorhunt.co/palette/f4f4f4f0a500cf7500000000 color palette*/

body {
    background-color: #F4F4F4;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
}


header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
.bg-light {
    background-color: transparent !important;
}

.bg-dark {
    background-color: black !important;
    color: #FAD13B !important;
}

.navbar-brand {
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
}

.nav-item {
    font-weight: 700;
    text-transform: uppercase;
    color: white !important;
}

.nav-item .nav-link:hover {
    background-color: black;
    color: white !important;
}

.navbar-nav li {
    padding: 0 1rem;
    color: white !important;
}

.bg-dark .nav-link {
    color: #FAD13B !important;
}

#navbarSupportedContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.active {
    background-color: black;
    color: white !important;
}
.hero {
    position: relative;
    background: url(../public/heroSection.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    color: white;
    padding: 0 1rem;
    min-height: 100vh;
}

.hero h1 {
    font-size: 70px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    z-index: 100;
    text-shadow: 0 0 5px black;
}

.hero h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    z-index: 100;
    text-shadow: 0 0 5px black;
}

.hero p {
    padding: 0;
    margin: 1em 0 0 0;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    z-index: 100;
    text-shadow: 0 0 5px black;
}

.btn1 {
    display: inline-block;
    margin: 1em 0 0 0;
    background-color: black;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid black;
    transition: all 0.5s ease;
    z-index: 99999;
}

.btn1:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    text-decoration: none;
}

.arrow-down{
    width:30px;
    height:20px;
    margin:0 auto;
    position:absolute;
    left:50%;
    bottom:0;
    -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;

}

.arrow-down:hover{
    -webkit-animation-play-state: paused;
}

.left{
    position:absolute;
    height:5px;
    width:20px;
    background:white;
    -webkit-transform:rotate(240deg);
    top:-15px;
    left:8px;
    -webkit-border-radius:4px;
    -webkit-transform-origin:5px 50%;
    -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right{
    position:absolute;
    height:5px;
    width:20px;
    background:white;
    -webkit-transform:rotate(-60deg);
    top:-15px;
    left:11px;
    -webkit-border-radius:4px;
    -webkit-transform-origin:5px 50%;
    -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
}




@-webkit-keyframes arrow{
    0% {
        bottom:0px;
    }
    100%{
        bottom:40px;
    }
}


@-webkit-keyframes leftArrow{
    0% {
    }
    100%{
        -webkit-transform:rotate(225deg);
    }
}

@-webkit-keyframes rightArrow{
    0% {
    }
    100%{
        -webkit-transform:rotate(-45deg);
    }
}

.about-us {
    margin-top: 5rem;
    background-color: #F4F4F4;
    padding: 10vh 1rem 2rem;
    text-align: center;
}

.about-us h1 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.about-us p {
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 2;
    margin: 2rem 0 1rem;
}

section#counter-stats {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.stats {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.stats .fa {
    color: #F0A500;
    font-size: 60px;
}


.impact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding-top: 10vh;
}

.impact h1 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.impact p {
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 2;
    margin: 2rem 0 1rem;
}


.gallery {
    display: flex;
    padding: 2px;
    transition: 0.3s;
}
.gallery:hover .gallery__image {
    filter: grayscale(1);
}
.gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.gallery__link {
    margin: 2px;
    overflow: hidden;
}
.gallery__link:hover .gallery__image {
    filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
    opacity: 1;
}
.gallery__thumb {
    position: relative;
}
.gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
}
.gallery__image:hover {
    transform: scale(1.1);
}
.gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}




.testimonial{
    padding: 70px 30px 50px;
    margin: 50px 30px 30px;
    border: 1px solid #ea816b;
    position: relative;
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #c7373c;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 15px;
    color: #5e595b;
    line-height: 27px;
    text-align: center;
    margin: 0;
    position: relative;
}
.testimonial .description:before{
    content: "\f10d";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    font-size: 25px;
    color: #d7d7d7;
    position: absolute;
    top: 0;
    left: -2px;
}
.testimonial .title{
    display: inline-table;
    padding: 10px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ea816b;
    font-size: 20px;
    font-weight: 700;
    color: #c7373c;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    bottom: -22px;
    left: 0;
    right: 0;
}
.testimonial .post{
    font-size: 15px;
    color: #671a36;
}
.owl-theme .owl-controls{
    width: 100%;
    height: 50px;
    opacity: 1;
    position: absolute;
    top: 38%;
}
.owl-theme .owl-controls .owl-buttons div{
    width: 50px;
    height: 50px;
    line-height: 40px;
    border-radius: 0;
    background: transparent;
}
.owl-prev{
    position: absolute;
    left: -5%;
}
.owl-next{
    position: absolute;
    right: -5%;
}
.owl-prev:after,
.owl-next:after{
    content: "\f104";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    font-size: 30px;
    color: #c7373c;
    opacity: 1;
}
.owl-next:after{ content: "\f105"; }

@media only screen and (max-width: 479px){
    .testimonial{ padding: 70px 10px 30px; }
    .testimonial .description:before{ top: -20px }
    .testimonial .title{ font-size: 12px; }
    .testimonial .post{ font-size: 11px; }
}
